.menupedidos {
    font-size: 18px;
    display: inline-block;
    padding: 0.4rem;
    height: 50px;
    width: 230px;
    margin: 0px auto;
    align-self: center;

    background: rgb(250, 250, 250);
    border-width: 1px;
    border-style: solid;
    border-color: #1b1a19;
    border-radius: 2px;
}

@media only screen and (min-width: 95%) {
    .menupedidos {
        width: 280px;
    }
}

@media only screen and (max-width: 1125px) {
    .menupedidos {
        width: 180px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 1090px) {
    .menupedidos {
        width: 150px;
        font-size: 15px;
    }
}

@media only screen and (max-width: 948px) {
    .menupedidos {
        width: 134px;
        font-size: 15px;
    }
}

.iconpedidos {
    width: 30px;
    margin-top: -32px;
    font-size: 35px;
}

@media only screen and (max-width: 1125px) {
    .iconpedidos {
        padding: 0.1rem;
        font-size: 29px;
        width: 20px;
        margin-top: -24px;
    }
}

.titulopedido {
    width: 260px;
    margin-top: 7px;
}

@media only screen and (max-width: 1125px) {
    .titulopedido {
        width: 110px;
        height: 20px;
        margin-top: 0px;
        margin-left: 25px;
    }
}

.menuPedidosstatus {
    display: flex;

}

.menupedidos:hover {
    background: #dbc8ae;
}

.iconsButtonHeader {
    width: 25px;
    margin-top: -22px;
    font-size: 27px;
    color: rgb(116, 78, 56);
}

.titulopedidoHeader {
    width: 220px;
    margin-top: 7px;
}

.buttonheader {
    background-color: #f0985e;
    border-radius: 0px;
    width: 18%;
    height: 36px;
    color: #fff;
    font-size: 15px;

}

.buttonheader:hover {
    background-color: rgb(216, 103, 62);
}

@media only screen and (max-width: 948px) {
    .buttonheader {
        background-color: #f0985e;
        border-radius: 5px;
        width: 24%;
        height: 35px;
        color: #fff;
        font-size: 13px;

    }
    .buttonheader:hover {
        background-color: rgb(219, 104, 62);
    }
}

.board {
    align-items: center;

    margin: 6px auto;
    margin-left: -10px;
    display: flex;
    flex-direction: f;
    font-family: sans-serif;
    background: rgb(255, 255, 255);
}

.list,
.card .title {
    width: 100%;
    margin-top: 0px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

}

.list {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    max-height: 20rem;
    padding: 6px;
}

.title {
    width: 232px;
    margin-top: 200px;
    font-size: 15px;
    background-color: rgb(228, 113, 72);
}

.title:hover {
    background-color: rgb(223, 93, 46);
}

.card .title {

    display: flex;
    align-items: center;
    min-height: 2rem;
    padding: 0.10rem;
}

.time {
    color: #ffffff;
    padding: 7px 60px;
    display: grid;
    grid-gap: 10px;
    margin: 0 auto;
}

@media only screen and (max-width: 1125px) {
    .time {
        color: #ffffff;
        padding: 2px 60px;
        display: inline;
        text-align: center;
        margin-left: -50px;
    }
}

.vartotal {
    color: #ff4500;

}

.numpedido {
    font-size: 23px;
    color: #ff4500;

}

.card .content {
    position: relative;
    display: block;
    font-family: 'Kulim Park', sans-serif;
    min-height: 10rem;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: #da9175;
}

.image {
    height: 25px;
    width: 25px;
    border-radius: 50px;
}

.qtd {
    display: inline-block;
    height: 25px;
    width: 25px;
    font-size: 12px;
}

.button {
    padding: 0.9rem;
    border-radius: 0px;
    min-height: 1rem;
    float: right;

}

.cartao {
    float: right;
    font-weight: bold;
}

.link {
    color: #fff;

}

.linkbuttonAprovar {
    position: absolute;
    bottom: 0;
    border: 0;
    width: 33%;
    height: 35px;
    background-color: #4254f7;
    color: #fff;
    -webkit-font-smoothing: antialiased !important;

}

.linkbuttonRejeitar {
    position: absolute;
    bottom: 0;
    border: 0;
    margin-left: 22px;
    width: 34%;
    height: 35px;
    background-color: #f50626;
    color: #fff;
    -webkit-font-smoothing: antialiased !important;

}

@media only screen and (max-width: 900px) {
    .linkbuttonRejeitar {
        margin-top: 0px;
        display: inline;
        text-align: center;
        margin-left: 1px;
    }
}

.linkbuttonImprimitPend {
    position: absolute;
    bottom: 0;
    right: 0;
    border: 0;
    width: 33%;
    height: 35px;
    background-color: #0a0a0a;
    color: #fff;
    -webkit-font-smoothing: antialiased !important;

}

@media only screen and (max-width: 900px) {
    .linkbuttonImprimitPend {
        margin-top: 0px;
        display: inline;
        text-align: center;
        margin-left: 1px;
    }
}

.linkbuttonCanc {
    position: absolute;
    bottom: 0;
    background-color: #423d3d;
    width: 100%;
    bottom: 0;
    border: 0;
    height: 35px;
    color: #fff;
    -webkit-font-smoothing: antialiased !important;
    margin-top: 10px;

}

.linkbuttonCanc:hover {
    background-color: #252525;
}

.linkbuttonEntre {
    position: absolute;
    bottom: 0;
    border: 0;
    background-color: #2eaf0d;
    width: 100%;
    height: 35px;
    color: #fff;
    -webkit-font-smoothing: antialiased !important;
    margin-top: 10px;

}

.linkbuttonEntre:hover {
    background-color: #1b5f09;
}

.linkbuttonEnv {
    background-color: #fd8801;
    position: absolute;
    bottom: 0;
    border: 0;
    color: #fff;
    -webkit-font-smoothing: antialiased !important;
    width: 50%;
    height: 35px;
    color: #fff;
}

.linkbuttonenvI {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #423d3d;
    width: 50%;
    border: 0;
    height: 35px;
    color: #fff;
    -webkit-font-smoothing: antialiased !important;

}

.OrgButton {
    display: flex;
    bottom: 0;
    border: 0;
    border-radius: 6px;
    width: 100%;
    color: #fff;
}

.OrgButton1 {
    display: flex;
}

@media only screen and (max-width: 900px) {
    .OrgButton1 {
        padding: 20px 40px 40px;
        display: inline;
        text-align: center;
        margin-left: -40px;
    }
}

.buttonPendente {
    width: 100%;
    height: 55px;
}

@media only screen and (max-width: 900px) {
    .buttonPendente {
        padding: 20px 40px 40px;
        position: fixed;
        bottom: 0;
        display: inline;
        text-align: center;
        margin-left: -40px;
    }
}
